html,body,#home{

    height: 100%;
    overflow-x: hidden;

}

body{

    background: url(projeto-inicial-spotify/imagens/capa.png), url(projeto-inicial-spotify/imagens/ruido.png), linear-gradient(50deg,#ff4169,#7c36f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}


nav.navbar-transparente{

    background: rgba(0,0,0,0.6);
    padding: 20px 0px;

}

.navbar-nav .nav-item .nav-link{

    color: white;
    font-size: 1.1em;

}

.navbar-nav .nav-item .nav-link:hover{

    color: #9bf0e1;

}

.navbar-light .navbar-toggler{

    color: rgba(0,0,0,.5);
    border-color: rgba(255, 255, 255, .1);

}

.divisor{

    margin: 12px 15px;
    width: 1px;
    background: white;

}

.capa{

    text-align: center;

}

h1{

    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;

}

h2{

    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: -0.04em;

}

h3{

    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.04em;

}

.btn-custom{

    color: white;
    border-radius: 500px;
    -webkit-border-radius:500px;
    -moz-border-radius:500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 30px;

}

.btn-roxo{

    background: #7c25f8;

}

.btn-roxo:hover{

    background: #6207e3;
    color: white

}

.btn-branco{

    border: 2px solid white;

}

.btn-branco:hover{

    background-color: white;
    color: black;

}

.carousel-control-next, .carousel-control-prev{

    width: 5%;

}

#servicos{

    background: white;

}

#servicos h2 ,h3{

color: #7c25f8;

}


#recursos h3{

    color: #9bf0e1;

}

#recursos h2{

    color: white;

}

.caixa{

    padding-top: 20px;
    padding-bottom: 20px;

}

.albuns{

    padding: 10px 0px;

}

.rotacionar{

    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 80px;

}

footer{

    background-color: #000;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    position: relative;
    z-index: 2;


}

footer h4{

    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;

}

footer .navbar-nav a{

    color: white;
    font-size: 0.8em;
    text-decoration: none;

}

footer .navbar-nav a:hover{

    color: #9bf0e1;
    text-decoration: none;

}

footer ul{

    list-style: none;

}

footer ul li{

    float: right;
    margin: 0px 7px;

}


/* X-Small devices (portrait phones, less than 576px)*/


@media (max-width: 575.98px) { 


    

    h1{

        font-size: 2.8em;

    }

    .btn-custom{

        font-size: 1em;

    }

 }

 @media (min-width: 575.98px) { 


    

    h1{

        font-size: 3em;

    }


 }

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 767.98px) { 

    h1{

        font-size: 4em;

    }

    


 }

/* Medium devices (tablets, less than 992px)*/

@media (max-width:991.98px){


    .btn-custom{

        margin: 10px 15px;

    }

}

@media (min-width: 991.98px) { 

    h1{

        font-size: 5em;

    }


 }

/* Large devices (desktops, less than 1200px)*/
@media (min-width: 1199.98px) { 

    h1{

        font-size: 6em;

    }

 }

/* X-Large devices (large desktops, less than 1400px)*/
@media (min-width: 1399.98px) { 

    h1{

        font-size: 6.5em;

    }


}

@media (max-width:1399.98) {


}
